@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #3B8C6E, #89D99D);
}

main{
   background-color: white;
   border-radius: 10px;
   box-shadow: 5px 5px 15px #1e5959d0; 
   width: 600px;
   padding: 10px;
   margin: auto;
}

h1{
    color: #0c3047;
    text-align: center;
    text-shadow: 1px 1px 0px #071a27c7;
}

h2{
    color: #1E5959;
}

p{
    text-align: justify;
}